*
# Include these directories and exclude everything else.
/*
!/.clang-format
!/.clangd
!/.github
!/.gitignore
!/Makefile
!/README.md
!/examples
!/include
!/src
!/test

# Ignore all build files from the test directory
!/test/**/*.c
!/test/**/*.h
